doctype html
html
    include ./templades/head.pug
    link(type="text/css" rel="stylesheet" href="/pub/pulse.css")
    
    body(class="dark-theme")
        include ./templades/imgPreview.pug

        div(class="container-fluid")
            div(class="d-flex align-items-stretch")
                nav(class="nav-bar")
                    h5(class="logo") 78Express Boards
                    hr
                    each b in boards
                        div(class="board-item d-flex align-items-center boardItem-"+b.path)
                            div(class="pulse")
                            div(class="latency-status")
                            div(class="item-hover boardBtn" data-path=(b.path)) /#{b.path}/ - #{b.name}

                main(class="layer-container")
                    input(type="hidden" id="boardPath" value=(path))

                    div(class="flat-board-preview")
                        div(class="font-weight-bold") 78Express  

                        each b in boards
                            div(class="board-item d-flex align-items-center boardItem-"+b.path)
                                div(class="pulse")
                                div(class="latency-status")
                                div(class="item-hover boardBtn" data-path=(b.path)) /#{b.path}/ - #{b.name}

                    div(class="layer-content" id="layerContent")
                        div(class="p-3 text-center")
                            hr
                            include ./templades/faq.pug
                            hr
                            include ./templades/fotter.pug

                    div(class="settings-box" style="display:none")
                        form(class="settings-form")
                            input(type="text" id="settingsUsername" placeholder="Username (Default: Anon)" class="form-control")
                            input(type="password" id="settingsPassword" placeholder="Post Password" class="form-control")
                            div(class="d-flex")
                                div(class="ml-auto")
                                    small(class="p-2" id="delInfo")
                                    span(class="m-2 btn btn-danger font-weight-bold" id="btnDelete" style="display:none") DELETE

                    div(class="thread-input" style="display:none" id="postInput")
                        div(class="post-message" id="postMessage" style="display:none")
                        form(class="thread-form" action="" method="")
                            div(class="d-flex")
                                label(class="thread-file" for="dragFile")
                                    div(class="drag-btn")

                                input(type="file" id="dragFile" class="chat-file" style="display:none")        
                                textarea(type="text" placeholder="Type anything.." class="form-control" id="threadContent")

                                div(class="thread-file")
                                    div(class="settings-btn" id="settingsBtn")

        script(src="/socket.io/socket.io.js")
        script(src="/pub/manager.js")                              
