doctype html
html
    include ./templades/head.pug
    
    body(class="dark-theme")
        div(class="container-fluid")
            div(class="d-flex align-items-stretch")
                nav(class="nav-bar")
                    h5 78Station
                    hr
                    h6 Express:
                    each b in boards
                        div /#{b.path}/ - #{b.name}

                main(class="layer-container")
                    input(type="hidden" id="boardPath" value=(path))
                    div(class="file-preview" id="filePreview")
                    div(class="layer-content" id="layerContent")

                    div(class="thread-input")
                        form(class="thread-form" action="" method="")
                            div(class="d-flex")
                                label(class="thread-file" for="dragFile")
                                    div(class="drag-btn")
                                input(type="text" id="threadUsername" placeholder="Anonymus" class="form-control" style="width:10%")
                                input(type="file" id="dragFile" class="chat-file" style="display:none")        
                                textarea(type="text" placeholder="Type anything.." class="form-control" id="threadContent")

        script(src="/socket.io/socket.io.js")
        script(src="/pub/manager.js")                              
