:root {
    --color_primary : #1b0b2c;
    --color-secondary: #40186b;
    --color-secondary-light: #5a2395;
    --color-secondary-dark: #291044;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid #ffffff2e;
}

.dark-theme {
    color: white;
    background: var(--color_primary);
}

.layer-container {
    width: 100%;
    height: 100vh;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.layer-content {
    position: relative;
    overflow: auto;
    min-width: 0;
    height: 100%;
    z-index: 1;
    background: var(--color-secondary);
}

.nav-bar {
    margin-right: 4px;
    padding: 8px;
    width: min-content;
    background:var(--color-secondary-dark);
}

.thread-input {
    min-width: 0;
    z-index: 2;
    background: var(--color-secondary-light);
}

.thread-file {
    border: 1px solid var(--color-secondary);
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    background: var(--color-secondary-light);
    padding: 8px;
}

.settings-btn {
    background: url('/pub/settings_button.svg');
    width: 22px;
    height: 22px;
}

.drag-btn {
    background: url('/pub/plus_button.svg');
    width: 22px;
    height: 22px;
}

.form-control {
    height: 40px;
    border: 1px solid var(--color-secondary);
    border-radius: 0;
    background: var(--color-secondary-light);
    color: #d1d1d1!important;
}

.drag-file-preview {
  outline : dashed #9e5dff;;
  outline-offset : -10px;
}

textarea.form-control {
    resize: none;
    overflow: auto;
    max-height: 200px;
    height: 40px;
}

.form-control:focus {
    background: var(--color-secondary-light);
    border: 1px solid var(--color-primary);
    color: white!important;
}

.file-preview {
    position: absolute;
    bottom: 40px;
    z-index: 2;
    background: #00000077;
}

.file-info {
    word-break: break-all;
    letter-spacing: 0.2;
    line-height: 1.2;
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    margin: 8px;
    text-align: center;
    background: #0000008e;
}

.file-preview img {
    padding: 8px;
    max-width: 280px;
    max-height: 180px;
    overflow: auto;
    border-radius: 16px;
}

.fix-img {
    float: left;
}

.thread-item {
    clear: left;
    padding: 8px;
}

.thread-item img {
    margin: 8px;
    max-width: 250px;
    max-height: 180px;
    overflow: auto;
}

.thread-item .thread-content {
    overflow: unset;
    font-family: inherit;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.post-message {
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    background: var(--color-secondary);
}

.settings-box {
    position: absolute;
    bottom: 48px;
    right: 24px;
    border-radius: 8px;
    background: var(--color-secondary-dark);
    z-index: 4;
}

.item-hover {
    color: #ffffffbe;
    cursor: pointer;
}
.item-hover:hover {
    color: #ffffffdc;
}