
hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid var(--color-srollbar);
}

.dark-theme {
    color: var(--color-primary);
    background: var(--bgr-primary);
}

.layer-container {
    width: 100%;
    height: 100vh;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.layer-content {
    position: relative;
    overflow: auto;
    min-width: 0;
    height: 100%;
    z-index: 1;
    background: var(--bgr-secondary);
}

.nav-bar {
    margin-right: 2px;
    padding: 8px;
    min-width: 180px;
    background:var(--bgr-secondary-dark);
}

.thread-input {
    min-width: 0;
    z-index: 2;
    background: var(--bgr-secondary-light);
}

.thread-file {
    border: 1px solid var(--bgr-secondary);
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
    background: var(--bgr-secondary-light);
    padding: 8px;
}

.settings-btn {
    background: url('/pub/settings_button.svg');
    width: 22px;
    height: 22px;
}

.drag-btn {
    background: url('/pub/plus_button.svg');
    width: 22px;
    height: 22px;
}

.form-control {
    height: 40px;
    border: 1px solid var(--bgr-secondary);
    border-radius: 0;
    background: var(--bgr-secondary-light);
    color: #d1d1d1!important;
}

.drag-file-preview {
  outline : dashed #9e5dff;;
  outline-offset : -10px;
}

textarea.form-control {
    resize: none;
    overflow: auto;
    max-height: 200px;
    height: 40px;
}

.form-control:focus {
    background: var(--bgr-secondary-light);
    border: 1px solid var(--bgr-primary);
    color: white!important;
}

.file-preview {
    position: absolute;
    bottom: 40px;
    z-index: 2;
    background: #00000077;
}

.file-info {
    word-break: break-all;
    letter-spacing: 0.2;
    line-height: 1.2;
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 8px;
    margin: 8px;
    text-align: center;
    background: #0000008e;
}

.file-preview img {
    padding: 8px;
    max-width: 280px;
    max-height: 180px;
    overflow: auto;
}

.fix-img {
    float: left;
}

.thread-item {
    clear: left;
    padding: 8px 8px 0 8px;
}

.thread-item .img-fit {
    margin: 8px;
    max-width: 250px;
    max-height: 180px;
    overflow: auto;
}

.thread-content {
    overflow: unset;
    font-family: inherit;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.thread-content pre {
    color: var(--color-secondary);
    font-size: 16px;
}

.post-message {
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
}

.settings-box {
    position: absolute;
    bottom: 48px;
    right: 24px;
    border-radius: 8px;
    background: var(--bgr-secondary-dark);
    z-index: 4;
}

.message-box {
    position: absolute;
    top: 40%;
    left: 40%;
}

.item-hover {
    color: var(--color-secondary);
    cursor: pointer;
}
.item-hover:hover {
    color: var(--color-primary);
}

.error-container { 
    padding: 8px;
}

::-webkit-scrollbar {
    height: 8px;  
    width: 10px;
    -webkit-appearance: none;
}
::-webkit-scrollbar-corner { 
    background: var(--color-srollbar); 
}
::-webkit-scrollbar-thumb:horizontal{
    background: var(--color-srollbar); 
}
::-webkit-scrollbar-track {
    background: var(--color-srollbar); 
}
::-webkit-scrollbar-thumb {
    background: var(--color-srollbar); 
    height:100px;
    border-radius:12px;
}

.thread-header {
    font-size: 14px;
    color: var(--color-primary);
}

.thread-header:hover {
    color: var(--quote-thread);
    cursor: pointer;
}

.thread-view {
    padding: 8px;
    font-size: 16px;
}

.thread-view .img-fit {
    margin: 8px;
    max-width: 350px;
    max-height: 280px;
    overflow: auto;
    border-radius: 6px;
}

.reply-container {
    clear: left;
}

.reply-item {
    border-left: 1px solid var(--color-secondary-dark);
    margin: 4px;
    background: var(--bgr-reply-box);
    padding: 8px;
    display: table;
    overflow: hidden;
}

.pointer-effect {
    cursor: pointer;
}

.reply-container {
    margin-top: 8px;
    padding: 8px;
}

.latency-status {
    font-size: 12px;
    margin-right: 4px;
}