div(class="container")
    div(class="prcard-header bgr-accent") 
        h2(class="mb-0") Welcome 78 Station
        div - Realtime imageboard -

    div(class="prcard-body bgr-primary") 
        div(class="text-left p-2")
            h4 Rules
            div(class="mt-2") - Nsfw Content
            div(class="p-2" style="white-space:pre-line")
                | 1. It is not allowed to post pornographic content outside the nsfw category
                | 2. Pornography or eroticization of 3D children (infant)
                | 3. Pornography or eroticization of 3D animals (Furry)

            div(class="mt-4") - Your Security
                div(class="p-2" style="white-space:pre-line")
                    | 1. Malicious link sharing unbeknownst to members
                    | 2. Content or post that exposes the privacy of other members (DOX)

            div(class="mt-4") - Organization of a Topic
                div(class="p-2" style="white-space:pre-line")
                    | 1. Spam/Flood, Raid or content with no relevance to the community is not allowed
                    | 2. Plagiarism from other topics without specifying the original author
                    | 3. Low quality topics
            
            div(class="mt-4") - Dangerous to the community
                div(class="p-2" style="white-space:pre-line")
                    | 1. Toxic content or hate speech outside the Board (Random)
                    | 2. Incentives for acts of terrorism
                    | 3. Sale or distribution of products in general
                    | 4. Graphic or heavy content involving animals or minors

            div Violations of any of the rules will result in the removal of all posts attributed to the offender.
                | We trust your cooperation in not violating any of the mentioned rules.

            h4(class="mt-2") How does formatting work?

            div(class="format-content p-2")
                div
                    span(class="td-stroke") REEEEEEEEEEEED
                    span  - ==Text Here==
                div
                    span(class="td-bold") Negrito
                    span  - **Text Here**
                div
                    span(class="td-underline") Sublinhado
                    span  - __Text Here__
                div
                    span(class="td-through") Riscado
                    span  - ~~Text Here~~
                div
                    span(class="td-italico") Italic
                    span  - ''Text Here'''
                div
                    span(class="spoiler-content") Spoiler
                    span  - [spoiler] Text Here [/spoiler]
                div
                    span(class="quote") #{'>Quote'}
                    span  - #{'>Text Here'}
                div
                    span(class="iv-quote") #{'<Invert Quote'}
                    span  - #{'<Text Here'}
                div
                    span(class="quote-reply") >>777
                    span  - >>replyID | Highlight an reply
                div
                    span(class="quote-topic") >>>777
                    span  - >>>topicId | highlight an topic
                div
                    span(class="quote-board") >>>/b/
                    span  - >>>Board name | Highlight a Board