div(class="text-center")
    a(href="//wikinet.pro/wiki/RetroChan" class="color-primary") 7Retro Engine - RetroChan
    |  · 
    a(href="//midback.xyz" class="color-primary") Midback 2D
    div Copyright is the sole responsibility of the author. Read the rules on the home page to avoid conflicts
    div Powered by Dyoniso - Copyright © 78Station 2021-#{new Date().getFullYear()} - Contact: !{'<a class="text-light" href="mailto:7Retro.community@protonmail.com">7Retro.community@protonmail.com</a>'}