div(class="reply-container" id="replyContainer")
    input(type="hidden" id="boardTitle" value=(boardTitle))

    h4 Start of chat /#{board}/
    hr
    div(id="replyContent")
        each reply in replies
            include ./itemReply.pug