[Unit]
Description="78Station Service"

[Service]
ExecStart=/usr/bin/node app.js
WorkingDirectory=/var/www/78station/
Restart=always
RestartSec=1800
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=78Station

[Install]
WantedBy=multi-user.target